/* .carousel-control-prev {
    position: absolute;
    top: 50%;
    left: 10px; /* Position the previous button on the left */
    /* transform: translateY(-50%); */
    /* z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer; */
  /* }  */
  
  /* .carousel-control-next { */
    /* position: absolute;
    top: 50%;
    right: 10px; /* Position the next button on the right */
    /* transform: translateY(-50%); */
    /* z-index: 2; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* color: white; */
    /* border: none; */
    /* padding: 10px; */
    /* cursor: pointer; */ 
  /* } */
  