@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'daisyui/dist/full.css';


 
/* Ensure the Swiper container is relatively positioned for proper positioning of arrows */
.mySwiper {
    border-radius: 100px;
    border-radius: 10px;
    padding: 10px;  
    position: relative; 
    z-index: 1; 
    overflow: hidden; 
}

 
.swiper-slide {
    position: relative;  
    z-index: .52; 
}
.swiper-button-prev, .swiper-button-next{
    display: none;
}
.swiper-pagination-bullet{
    display: none;
}
.carousel-indicators{
    display: none;
}